// app global css in SCSS form
body {
    &.screen--xl, &.screen--lg {
        font-size: 24px;
    }
    &.screen--md, &.screen--sm, &.screen--xs {
        font-size: 18px;
    }
}

.sub-heading {
    &.screen--xl, &.screen--lg {
        font-size: 20px;
    }
    &.screen--md, &.screen--sm, &.screen--xs {
        font-size: 14px;
    }
}
